.Footer {
	display: flex;
	justify-content: space-between;
	padding: 50px 0;
	flex-wrap: wrap;
}

.Footer article {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.Social {
}

.Subscription {
}

.Location {
}
