.Hero {
	text-align: center;
	height: calc(100vh - 3.5rem);
	background-color: #333;
}

.HeroContainer {
	height: 100%;
	position: relative;
}

.HeroDescripion {
	width: 50%;
	position: absolute;
	z-index: 10;
	color: var(--white);
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.HeroDescripion h1 {
	/* font-size: 46px; */
	font-size: 2rem;
}

.HeroDescripion {
	/* font-size: 22px; */
	font-size: 1.2rem;
}

.HeroCarousel {
	display: flex;
	align-items: center;
	justify-content: center;
}

.HeroCarousel span {
	width: 45px;
	height: 12px;
	background-color: bisque;
	margin-left: 10px;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 3px 2px 2px rgba(73, 72, 72, 0.338);
}

@media screen and (min-width: 768px) {
	.HeroDescripion {
		font-size: 1.4rem;
		top: 20%;
		left: 10%;
		transform: none;
	}

	.HeroDescripion h1 {
		font-size: 2rem;
	}
}

@media screen and (min-width: 992px) {
	.HeroDescripion {
		font-size: 1.5rem;
	}

	.HeroDescripion h1 {
		font-size: 3rem;
	}
}
